@import '../_vars.scss';

.banner {
    background: url('./background-logo.png') center $purple;
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .banner {
        height: var(--layout-base);
    }
}