@import "../_vars.scss";

.card {
  &,
  & .content {
    display: flex;
    flex-direction: column;
  }
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 $gray8, 0 0 0 1px $gray8;
  color: initial;
  min-height: 0;
  max-width: 100%;
  min-width: calc(var(--layout-base)*36);
  padding: 3rem 2.5rem 3rem 2.5rem;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.4s ease-out, transform 0.2s ease-out;
  &.centered {
    align-items: center;
    text-align: center;
  }
  
  .content {
    flex-grow: 1;
    & > :last-child {
      margin-top: auto;
    }
  }

  &.primary {
      @include fill($pink);
  }
  &.brand {
      @include fill($purple);
  }
  &.secondary, &.info {
      @include fill($blue);
  }
  &.danger {
      @include fill($red);
  }
  &.dark {
      @include fill($gray1);
  }
  &.success {
      @include fill($green)
  }
  &.warning {
      @include fill($yellow);
  }

}

.small-vertical-space {
  margin: 1rem 0;
}

.medium-vertical-space {
  margin: 2rem 0;
}

.large-vertical-space {
  margin: 3rem 0;
}

.interactive-card {
  cursor: pointer;
  box-shadow: transparentize($black, 0.95) 0 2px 24px;

  &:focus-within, &:hover {
    color: initial;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: transparentize($black, 0.95) 0px 2px 2px,
      transparentize($black, 0.95) 0px 4px 4px,
      transparentize($black, 0.95) 0px 8px 8px,
      transparentize($purple, 0.95) 0px 16px 16px,
      transparentize($purple, 0.95) 0px 32px 32px;
    a:link, a:visited, .hiperlink {
      text-decoration: underline;
    }
  }
}