@import '../_vars.scss';
$break-small: 320px;
$decrease: 0.75;

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    font-weight: bold;
    text-rendering: optimizeLegibility;
    line-height: 1.333333333;
    margin: 0;
}

@mixin headingSize($baseSize: 1rem) {
    font-size: $baseSize;
    @media screen and (max-width: $break-small) {
        font-size: $baseSize - $decrease;
    }
}

h1, .h1 {
    @include headingSize(3rem);
}
h2, .h2 {
    @include headingSize(2.5rem);
}
h3, .h3 {
    @include headingSize(2rem);
}
h4, .h4 {
    @include headingSize(1.5rem);
}
h5, .h5 {
    @include headingSize(1.25rem);
}
h6, .h6 {
    @include headingSize(1rem);
}
.text {
    &-primary {
        color: $pink;
    }
    &-brand {
        color: $purple;
    }
    &-secondary, &-info {
        color: $blue;
    }
    &-danger {
        color: $red;
    }
    &-success {
        color: $green;
    }
    &-warning {
        color: $yellow;
    }
    &-muted {
        color: darken($gray6, 10%);
    }
    &-light {
        color: $gray9;
    }
    &-dark {
        color: $gray1;
    }
}