@import '../_vars.scss';

@mixin position($position) {
    &.#{$position} {
        position: $position;
    }
}

.navbar {
    align-items: center;
    background: $white;
    border-bottom: 1px solid $gray8;
    display: flex;
    justify-content: space-between;
    min-height: calc(var(--layout-base)*8);
    padding: 1rem;
    width: 100%;
    @include position(absolute);
    @include position(fixed);
    &.transparent {
        background: none;
        border: none;
    }

}