@import '/../_vars.scss';

.form-box {
    background: $gray9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 320px;
    min-height: 100vh;
    padding: calc(var(--layout-base)*3) 0;
}

@media screen and (max-width: 768px) {
    .form-box {
        min-height: calc(100vh - var(--layout-base));
    }
}

@media screen and (max-width: 360px) {
    .form-box {
        margin: auto calc(var(--layout-base)*2)
    }
}