@import '../_vars.scss';

.login {
    background: $gray9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    max-width: 320px;
    label {
        display: inline-block;
        font-size: 0.75rem;
        font-weight: bold;
        margin: 0 0 var(--layout-base) var(--layout-base);
        line-height: 1;
    }
}