@import '../../_vars.scss';

.login-form {
    background: $gray9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 320px;
    min-height: 100vh;
    padding: calc(var(--layout-base)*3) 0;
}

@media screen and (max-width: 768px) {
    .login-form {
        min-height: calc(100vh - var(--layout-base));
    }
}

@media screen and (max-width: 360px) {
    .login-form {
        margin: auto calc(var(--layout-base)*2)
    }
}